body{
    overflow-y: hidden;
}
main {
    background-color: #32777a;
    height: 85vh;
    padding: 6rem;
}

.background-img {
    background-image: url('../img/space.jpg');
}

header{
    height: 10vh;
}

footer {
    height: 5vh;
}

footer, header {
    background-color: rgb(212, 141, 226);
}

div#my-grid {
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

.grid-box {
    border: 2px solid white;
    width: calc(100% / 10);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.grid-box-active {
    background-color: #6495ed;
}

.boolean-logo {
    width: 50px;
}

#play-button, #reset-button {
    border: 1px solid black;
}

.bomb-box-active {
    background-color: rgba(255, 0, 0, 0.596);
    color: white;
}
