main {
    background-color: #7fffd4;
    height: 85vh;
    padding: 6rem;
}

header{
    height: 10vh;
}

footer {
    height: 5vh;
}

footer, header {
    background-color: white;
}

div#my-grid {
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: brown;
}

.grid-box {
    border: 2px solid white;
    width: calc(100% / 10);
    height: calc(100% / 10);
    cursor: pointer;
}

.grid-box-active {
    background-color: #6495ed;
}

